<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="../static/adding.css" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Drugs List</title>
</head>
<body style="background-image: url('http://uupload.ir/files/yvt6_back2.jpg') ; background-position: center;
    background-repeat: no-repeat;
    background-origin: revert;
    background-size: 120%;" xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <h1>Drugs List</h1>
        <table class="table table-striped" style=" background: rgba(255,255,255,0.9);">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Drug Code</th>
                <th scope="col">Cost</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drug : ${drugListKey}">
                <td><span th:text="${drug.name}"> Name </span></td>
                <td><span th:text="${drug.drugCode}"> Code </span></td>
                <td><span th:text="${drug.cost}"> Cost </span></td>
                <td><span th:text="${drug.description}"> Description </span></td>
                <td><a style="color: orangered" th:href="@{/drug/load_drug_for_edit(id=${drug.id})}">Edit</a></td>
                <td><a style="color: crimson" th:href="@{/drug/delete_drug_from_db(id=${drug.id})}" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>